

:root{

    --primary-color:#39BEF0;
    --secondary-color:#C4E3F4;
    --hovered-element-color:#0E6DA0;
    --main-title-color:#003551;
    --sub-title-color:#D4D4D4;
    --text-color:#939393;
    --secondry-button-color:#E3F5FF;
    --cards-color:#F3F3F3;

}

/* typography */

@font-face{

    src: url(../fonts/IRANYekanFN.woff2);
    font-family: Iran-Yekan;

}

@font-face {

    src: url(../fonts/IRANYekanFN-Thin.woff2);
    font-family: Iran-Yekan-Thin;

}

@font-face {

    src: url(../fonts/IRANYekanFN-Medium.woff2);
    font-family: Iran-yekan-Medium;

}

@font-face {

    src: url(../fonts/IRANYekanFN-Light.woff2);
    font-family: Iran-Yekan-Light;

}

@font-face {

    src: url(../fonts/IRANYekanFN-ExtraBold.woff2);
    font-family: Iran-Yekan-Extra-Bold;

}

@font-face {

    src: url(../fonts/IRANYekanFN-ExtraBlack.woff2);
    font-family: Iran-Yekan-Extra-Black;

}

@font-face{

    src: url(../fonts/IRANYekanFN-Bold.woff2);
    font-family: Iran-Yekan-Bold;

}

@font-face {

    src: url(../fonts/IRANYekanFN-Black.woff2);
    font-family: Iran-Yekan-Black;

}

/* reset */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    direction: rtl;
    font-size: 100%;
    overflow-x: hidden;

}

ul {

    list-style-type: none;

}

a{

    text-decoration: none;

}

/* components */

hr{

    background-color: var(--sub-title-color);
    opacity: 0.5;
    border-radius: 10px;
    margin: 0 138px;

}

a.button{

    width: 152px;
    height: 54px;
    font-size: 14px;
    padding: 14px 23px;
    border-radius: 8px;
    font-family: Iran-Yekan-Medium;
    border: none;

}

.container{

    padding: 19px 138px;

}

.primary-button{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: #fff;
    padding: 14px 24px;
    box-shadow: 0 2.5px 7px 0 rgba(57, 190, 240, 0.25);

}

.secondry-button{

    background-color: var(--secondry-button-color);
    color: var(--primary-color);

}

.title{

    font-family: Iran-Yekan-Bold;
    color: var(--main-title-color);

}

.sub-title{

    font-size: 14px;
    letter-spacing: 1.5px;
    color: var(--sub-title-color);
    font-weight: bold;

}

.title span{

    color: var(--primary-color);
    font-family: Iran-Yekan-Extra-Bold;
    position: relative;

}

.title span::after{

    content: " ";
    width: 130px;
    height: 15px;
    background-color: var(--primary-color);
    opacity: 0.09;
    position: absolute;
    right: 0;
    top: 20px;

} 

.title-description{

    font-size: 14px;
    text-align: justify;
    font-family: Iran-Yekan-Medium;
    color: var(--text-color);

}

a.active{

    font-family: Iran-Yekan-Medium;
    color: var(--main-title-color) !important;
    position: relative;

}

a.active::after{

    content: " ";
    width: 18px;
    height: 2px;
    top: 25px;
    right: 50%;
    transform: translate(50%);
    position: absolute;
    background-color: var(--main-title-color);

}

.line{

    width: 54px;
    height: 5px;
    border-radius: 14px;
    background-color: var(--secondary-color);

}

/* style */

body{

    font-family: Iran-Yekan;

}

main{

    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;

}

header {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

header nav::before{

    position: absolute;
    top: -15px;
    right: 50%;
    width: 80%;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 33px;
    content: "";
    transform: translateX(50%);

}

header nav .right-part img{

    width: 152px;

}

header nav .center-part{

    width: 450px;

}

header nav .center-part ul{

    display: flex;
    justify-content: space-between;

}

header nav .center-part ul li a{

    color: var(--text-color);

}

header nav .center-part ul span {

    color: var(--secondary-color);

}

header nav .left-part {

    display: flex;

}

header nav .left-part .phone-number{

    width: 150px;
    height: 45px;
    display: flex;
    align-items: flex-start;
    font-size: 15px;

}

header nav .left-part .phone-number .description .text{

    color:var(--hovered-element-color);

}

header nav .left-part .phone-number .description .text span{

    font-family: Iran-Yekan-Bold;

}

header nav .left-part .phone-number .description .text .inner-text{

    font-size: 11px;
    color: var(--text-color);

}

header nav .left-part .phone-number .icon img{

    width: 24px;
    height: 24px;
    margin: 10px 10px 0 0;

}

header nav .left-part .primary-button img{

    width: 16px;
    

}

header .hero{

    width: 100%;
    height: 100%;
    background-image: url(../images/HeroSection/Hero-BG.png);
    background-size: cover;

}

header .hero .hero-top-part{

    width: 100%;
    height: 80%;
    display: flex;

}

header .hero .hero-top-part .right-part{

    width: 52%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 120px;

}

header .hero .hero-top-part .right-part .title{

    font-size: 25px;

}

header .hero .hero-top-part .right-part .right-part-bottom{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .hero .hero-top-part .right-part .right-part-bottom span{

    width: 174px;
    height: 1px;
    background-color: var(--secondary-color);
    opacity: 0.75;

}

header .hero .hero-top-part .left-part{

    background-size: cover;
    background-position: -120px 20px;
    width: 48%;


}

header .hero .hero-top-part .left-part img{

    width: 100%;
    border: 1px solid white;

}

header .hero .hero-bottom-part .bottom-arrow-button{

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondry-button-color);
    border-radius: 50%;
    margin: 20px auto;

}

.our-service{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

}

.our-service .title{

    text-align: center;
    font-size: 25px;
    margin-top: 62px;

}

.our-service .line::after {

    width: 27px;
    height: 5px;

}

.our-service .cards-container{

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;

}

.our-service .cards-container .card{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--cards-color);
    width: 164px;
    height: 200px;
    border-radius: 14px;
    padding: 20px 10px;
    border-bottom: 2px solid var(--primary-color);

}

.our-service .cards-container .card.active{

    transform: scale(1.16);
    background-color: var(--primary-color);   

}

.our-service .cards-container .card.active .inner-card .card-title{

    color: #fff !important;

}

.our-service .cards-container .card.active .inner-card .descritption{

    color: #fff;

}

.our-service .cards-container .card .inner-card{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.our-service .cards-container .card .inner-card .icon{

    width: 48px;
    height: 48px;

}

.our-service .cards-container .card .inner-card .icon img{

    width: 100%;
    height: 100%;

}

.our-service .cards-container .card .inner-card .card-title{

    font-family: Iran-Yekan-Bold;
    color: var(--main-title-color);
    font-size: 16px;

}

.our-service .cards-container .card .inner-card .descritption{

    font-size: 13px;
    color: var(--text-color);
    width: 144px;
    height: 40px;

}

.more-about-team {

    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../images/About-Us-Section/rectangles@2x.png);
    background-repeat: no-repeat;
    background-position: 140% -20px;
    
}

.more-about-team .right-part{

    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.more-about-team .left-part{

    width: 48%;
    margin-top: 30px;

}

.more-about-team .left-part img{

    width: 100%;

}

.team-member {

    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 150px;

}

.team-member .description{

    width: 570px;
    text-align: center;
    margin-top: 20px;

}

.team-member .team-cards{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.team-member .card {

    width: 372px;
    height: 296px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 0 15px 0 rgba(138, 87, 87, 0.1);
    padding: 0 30px 37px;
    overflow: hidden;

}

.team-member .card::before{

    content: "";
    width: 295px;
    height: 8px;
    border-radius: 50px;
    background-color: var(--secondry-button-color);
    position: absolute;
    top: 0;
    transform: translateY(-40%);
    

}

.team-member .card:nth-child(2){

    color: #fff;
    box-shadow: 0 3px 24px 0 rgba(57, 190, 240, 0.3);
    background-image: linear-gradient(to bottom, #39bef0, #14a0d4);

}

.team-member .card:nth-child(2) .name{

    color: #fff;

}

.team-member .card img{

    width: 88px;

}

.team-member .card .name{

    font-size: 18px;
    font-family: Iran-Yekan-Bold;
    color: #303030;

}

.team-member .card .line{

    width: 24px;
    background-color: #fff;

}

.team-member .card .card-description{

    font-family: Iran-Yekan-Medium;
    font-size: 14px;

}

.team-member .slider-indicator {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.team-member .slider-indicator .right-part{

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.team-member .slider-indicator .right-part div{

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E9E9E9;

}

.team-member .slider-indicator .right-part div.active{

    background-color: var(--primary-color);
    box-shadow: 0 3px 24px 0 rgba(57, 190, 240, 0.3);

}
